---
layout: page
title: Categories
header: Posts By Category
group: navigation
---
{% include JB/setup %}


<div class="container">
<div class="row">
<div class="col-md-12">

<ul class="tag_box inline">
  {% assign categories_list = site.categories %}
  {% include JB/categories_list %}
</ul>


{% for category in site.categories %}
  <h2 id="{{ category[0] }}-ref">{{ category[0] | join: "/" }}</h2>
  <ul>
    {% assign pages_list = category[1] %}
    {% include JB/pages_list %}
  </ul>
{% endfor %}

<a href="https://l.facebook.com/l.php?u=https%3A%2F%2Fwww.dropbox.com%2Fs%2F8b7zopzm5l861l2%2F249568088_598698091552839_2613139799656014587_n.jpg%3Fdl%3D0%26fbclid%3DIwAR3zXFehQKBjnURF20_ODITeosGhx7nlrioogKAuovi5qsq3hVQMz3gxbyU&h=AT1XDQJcUojKTf5kKzhY62h5F6K8pcGnL3xCheST_d3k8wIBOpIO8fwRBogmOrkLrjnTTp7qLCGjQIFRkgZwMfz9VZ7uxBR5MTKqeT-KI5n4BuAs07oNYwjWU2OMN0HNcnNLhtPSLwI" target="_blank"/> bilde 1</a>
<a href="https://l.facebook.com/l.php?u=https%3A%2F%2Fwww.dropbox.com%2Fs%2F8m92c2c4njm1ppc%2F249670966_3011151445869798_2968721696800747974_n.jpg%3Fdl%3D0%26fbclid%3DIwAR2yyBw-dRcU0ZZQmQlmgejNX56-wmi8XvxGEvE4zzQ4bnUbunuNlp4mpWc&h=AT1XDQJcUojKTf5kKzhY62h5F6K8pcGnL3xCheST_d3k8wIBOpIO8fwRBogmOrkLrjnTTp7qLCGjQIFRkgZwMfz9VZ7uxBR5MTKqeT-KI5n4BuAs07oNYwjWU2OMN0HNcnNLhtPSLwI" target="_blank"/> bilde 2</a>
<a href="https://l.facebook.com/l.php?u=https%3A%2F%2Fwww.dropbox.com%2Fs%2F2lqdnc6mawqyhdb%2F248544627_484120885969588_5580220169260193317_n.jpg%3Fdl%3D0%26fbclid%3DIwAR1u4mOjBVIehgTdM5r9pjGESYtrAq61QFLJv7mm-aWQDYOUz8MoUcWbKu0&h=AT1XDQJcUojKTf5kKzhY62h5F6K8pcGnL3xCheST_d3k8wIBOpIO8fwRBogmOrkLrjnTTp7qLCGjQIFRkgZwMfz9VZ7uxBR5MTKqeT-KI5n4BuAs07oNYwjWU2OMN0HNcnNLhtPSLwI" target="_blank"/> bilde 3</a>
<a href="https://l.facebook.com/l.php?u=https%3A%2F%2Fwww.dropbox.com%2Fs%2F7iote5mpk3ghe0g%2F248534054_181809477465129_2611473596098605857_n.jpg%3Fdl%3D0%26fbclid%3DIwAR0wA6_1pZCyiLhj_KYYBwjjTIkYpUmXTooMyoaasX_tB6HCzf1NCfmZz9E&h=AT1XDQJcUojKTf5kKzhY62h5F6K8pcGnL3xCheST_d3k8wIBOpIO8fwRBogmOrkLrjnTTp7qLCGjQIFRkgZwMfz9VZ7uxBR5MTKqeT-KI5n4BuAs07oNYwjWU2OMN0HNcnNLhtPSLwI" target="_blank"/> bilde 4</a>

</div>
</div>
</div>
