:root
  --ph-color-link #6CA7F9
  --ph-color-link-hover #6CA7F9
  --ph-color-link-active #6CA7F9
  --ph-color-link-visited #6CA7F9
  --ph-color-text #9FA8AD
  --ph-color-text-accent #E4E4E7
  --ph-color-well-background rgba(159, 168, 173,0.1)
  --ph-color-notice-warning #D29922
  --ph-color-code-background #002B36
  --ph-color-code #839496
  --ph-color-background #181A22

:root.theme--light
  --ph-color-link #0750B6
  --ph-color-link-hover #0750B6
  --ph-color-link-active #0750B6
  --ph-color-link-visited #0750B6
  --ph-color-text #454444
  --ph-color-text-accent #000000
  --ph-color-well-background rgba(159, 168, 173,0.1)
  --ph-color-notice-warning #D29922
  --ph-color-code-background #002B36
  --ph-color-code #839496
  --ph-color-background #FFFFFF
