#wcb.carbonbadge {
  --b1: #0e11a8;
  --b2: #00ffbc;
  font-size: 15px;
  text-align: left;
  line-height: 1.15;
}
#wcb.carbonbadge sub {
  vertical-align: middle;
  position: relative;
  top: .3em;
  font-size: .7em;
}
#wcb #wcb_2,
#wcb #wcb_a,
#wcb #wcb_g {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 1em;
  line-height: 1.15;
  text-decoration: none;
  margin: .2em 0;
}
#wcb #wcb_a,
#wcb #wcb_g {
  padding: .3em .5em;
  border: .13em solid var(--ph-color-well-background);
}
#wcb #wcb_g {
  border-radius: .3em 0 0 .3em;
  background: var(--ph-color-well-background);
  border-right: 0;
  min-width: 8.2em;
}
#wcb #wcb_a {
  border-radius: 0 .3em .3em 0;
  border-left: 0;
  background: var(--ph-color-well-background);
  color: var(--ph-color-link);
  font-weight: 700;
  border-color: var(--ph-color-well-background);
}
#wcb.wcb-d #wcb_a {
  color: var(--ph-color-link);
  background: var(--b2);
  border-color: var(--b2);
}
#wcb.wcb-d #wcb_2 {
  color: var(--ph-color-text);
}
