body {
	background:	#393939;
	color:		#EAEAEA;
	font-size: 16px;
}
a:link, .navbar .nav > li > a:link {
	color:		#9DDE24;
	text-decoration:none;
	
}
a:hover, .navbar .nav > li > a:hover{
	color:		#9DDE24;
	text-decoration:underline;	
}
a:visited{
	color:		#9DDE24;
	text-decoration:none;	
	
}

pre code, code{
	font-size:16px;
}

h1, h2, h3, h4, h5, h6{
	font-family: 	Georgia,"Times New Roman",Times,serif;
	color:		white;
	font-weight:	normal;
	text-transform:	capitalize;	
}

h1{
	font-size:	2.0em;
	text-transform:	capitalize;
	line-height:	1.3em;
}

h2{
	font-size:	1.8em;
}


a[href^="http:"] {
    display:inline-block;
    padding-right:20px;
    background:transparent url(/assets/img/icons/page_link.png) center right no-repeat;
}

a[href^="http://twitter"] {
    display:inline-block;
    padding-right:20px;
    background:transparent url(/assets/img/icons/twitter_16.png) center right no-repeat;
}


a[href^="http://qik"] {
    display:inline-block;
    padding-right:20px;
    background:transparent url(/assets/img/icons/qik_16.png) center right no-repeat;
}

a[href$='.rss'] {
    display:inline-block;
    padding-left:20px;
    padding-right:0px;
    line-height:18px;
    background:transparent url(/assets/img/icons/rss_16.png) center left no-repeat;
}

a[href^="http://feeds."] {
    display:inline-block;
    padding-left:20px;
    padding-right:0px;
    line-height:18px;
    background:transparent url(/assets/img/icons/rss_16.png) center left no-repeat;
}
    
a[href^="http://digg"] {
    display:inline-block;
    padding-right:20px;
    background:transparent url(/assets/img/icons/digg_16.png) center right no-repeat;
}    

a[href^="http://facebook"] {
    display:inline-block;
    padding-right:20px;
    background:transparent url(/assets/img/icons/facebook_16.png) center right no-repeat;
}
    
a[href^="http://flickr"] {
    display:inline-block;
    padding-right:20px;
    background:transparent url(/assets/img/icons/flickr_16.png) center right no-repeat;
}

a[href^="http://google"] {
    display:inline-block;
    padding-right:20px;
    background:transparent url(/assets/img/icons/google_16.png) center right no-repeat;
}

a[href^="https:"] {
    display:inline-block;
    padding-right:20px;
    background:transparent url(/assets/img/icons/page_white_key.png) center right no-repeat;
}

a[href^="mailto:"] {
    display:inline-block;
    padding-left:20px;
    padding-right:0px;
    line-height:18px;
    background:transparent url(/assets/img/icons/email.png) center left no-repeat;
}

a[href$='.pdf'] {
    display:inline-block;
    padding-left:20px;
    padding-right:0px;
    line-height:18px;
    background:transparent url(/assets/img/icons/page_white_acrobat.png) center left no-repeat;
}

a[href$='.jpg'] {
    background:none;
}

a[href$='.no'] {
    display:inline-block;
    padding-right:20px;
    background:transparent url(/assets/img/flag/no.png) center right no-repeat;
}

a[href$='.com'] {
    display:inline-block;
    padding-right:20px;
    background:transparent url(/assets/img/flag/us.png) center right no-repeat;
}

a[href$='twitter.com'] {
    display:inline-block;
    padding-right:20px;
    background:transparent url(/assets/img/twitter_16.png) center right no-repeat;
}

a[href$='facebook.com'] {
    display:inline-block;
    padding-right:20px;
    background:transparent url(/assets/img/facebook_16.png) center right no-repeat;
}

a[href$='linkedin.com'] {
    display:inline-block;
    padding-right:20px;
    background:transparent url(/assets/img/linkedin_16.png) center right no-repeat;
}

a[href$='google.com'] {
    display:inline-block;
    padding-right:20px;
    background:transparent url(/assets/img/google_16.png) center right no-repeat;
}

a[href$='.iso'] {
    display:inline-block;
    padding-left:20px;
    padding-right:0px;
    line-height:18px;
    background:transparent url(/assets/img/icons/page_white_dvd.png) center left no-repeat;
}

a[href$='.md5'] {
    display:inline-block;
    padding-left:20px;
    padding-right:0px;
    line-height:18px;
    background:transparent url(/assets/img/icons/page_white_key.png) center left no-repeat;
}

a[href$='.swf'], a[href$='.fla'], a[href$='.swd'] {
    display:inline-block;
    padding-left:20px;
    padding-right:0px;
    line-height:18px;
    background:transparent url(/assets/img/icons/page_white_flash.png) center left no-repeat;
}

a[href$='.xls'], a[href$='.csv'], a[href$='.xlt'], a[href$='.xlw'] {
    display:inline-block;
    padding-left:20px;
    padding-right:0px;
    line-height:18px;
    background:transparent url(/assets/img/icons/page_white_excel.png) center left no-repeat;
}

a[href$='.ppt'], a[href$='.pps'] {
    display:inline-block;
    padding-left:20px;
    padding-right:0px;
    line-height:18px;
    background:transparent url(/assets/img/icons/page_white_powerpoint.png) center left no-repeat;
}

a[href$='.js'], a[href$='.json'] {
    display:inline-block;
    padding-left:20px;
    padding-right:0px;
    line-height:18px;
    background:transparent url(/assets/img/icons/page_white_code_red.png) center left no-repeat;
}

a[href$='.css'], a[href$='.less'] {
    display:inline-block;
    padding-left:20px;
    padding-right:0px;
    line-height:18px;
    background:transparent url(/assets/img/icons/page_white_code.png) center left no-repeat;
}

a[href$='.doc'], a[href$='.rtf'], a[href$='.txt'], a[href$='.wps'] {
    display:inline-block;
    padding-left:20px;
    padding-right:0px;
    line-height:18px;
    background:transparent url(/assets/img/icons/page_white_word.png) center left no-repeat;
}

a[href$='.zip'], a[href$='.gzip'], a[href$='.rar'] {
    display:inline-block;
    padding-left:20px;
    padding-right:0px;
    line-height:18px;
    background:transparent url(/assets/img/icons/page_white_compress.png) center left no-repeat;
}
    
.page-header small{
	display: block;
	line-height: 20px;	
	color: #999999;
	font-weight: normal;
	font-family: Georgia,"Times New Roman",Times,serif;
	text-transform:	capitalize;	
	font-size: 22px;
}

.navbar-inner {
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
  border: medium none;
  border-radius: 0;
  box-shadow: none;
  min-height: 40px;
  padding-left: 20px;
  padding-right: 20px;
}

.navbar .brand {
  color: #EAEAEA;
  display: block;
  float: left;
  font-size: 20px;
  font-weight: 200;
  margin-left: -20px;
  padding: 10px 20px;
  text-shadow: none;
}

.navbar .nav > li > a {
  
  float: none;
  padding: 10px 15px;
  color: #9DDE24;
  text-shadow: none;
}

.navbar{
	margin-top:10px;
}

.navbar .nav > .active > a, .navbar .nav > .active > a:hover, .navbar .nav > .active > a:focus {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 5px;
  color:#9DDE24;
}