@font-face {
  font-family: 'Bagoss Condensed';
  src: local('Bagoss Condensed Bold'), local('BagossCondensed-Bold'),
    url('https://phun-ky.net/assets/knowit/fonts/BagossCondensed-Bold.woff2')
      format('woff2'),
    url('https://phun-ky.net/assets/knowit/fonts/BagossCondensed-Bold.woff')
      format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Bagoss Condensed';
  src: local('Bagoss Condensed Thin Italic'),
    local('BagossCondensed-ThinItalic'),
    url('https://phun-ky.net/assets/knowit/fonts/BagossCondensed-ThinItalic.woff2')
      format('woff2'),
    url('https://phun-ky.net/assets/knowit/fonts/BagossCondensed-ThinItalic.woff')
      format('woff');
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Bagoss Condensed';
  src: local('Bagoss Condensed Light Italic'),
    local('BagossCondensed-LightItalic'),
    url('https://phun-ky.net/assets/knowit/fonts/BagossCondensed-LightItalic.woff2')
      format('woff2'),
    url('https://phun-ky.net/assets/knowit/fonts/BagossCondensed-LightItalic.woff')
      format('woff');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Bagoss Condensed';
  src: local('Bagoss Condensed SemiBold'), local('BagossCondensed-SemiBold'),
    url('https://phun-ky.net/assets/knowit/fonts/BagossCondensed-SemiBold.woff2')
      format('woff2'),
    url('https://phun-ky.net/assets/knowit/fonts/BagossCondensed-SemiBold.woff')
      format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Bagoss Condensed';
  src: local('Bagoss Condensed Regular'), local('BagossCondensed-Regular'),
    url('https://phun-ky.net/assets/knowit/fonts/BagossCondensed-Regular.woff2')
      format('woff2'),
    url('https://phun-ky.net/assets/knowit/fonts/BagossCondensed-Regular.woff')
      format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Bagoss Condensed';
  src: local('Bagoss Condensed Medium'), local('BagossCondensed-Medium'),
    url('https://phun-ky.net/assets/knowit/fonts/BagossCondensed-Medium.woff2')
      format('woff2'),
    url('https://phun-ky.net/assets/knowit/fonts/BagossCondensed-Medium.woff')
      format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Bagoss Condensed';
  src: local('Bagoss Condensed Thin'), local('BagossCondensed-Thin'),
    url('https://phun-ky.net/assets/knowit/fonts/BagossCondensed-Thin.woff2')
      format('woff2'),
    url('https://phun-ky.net/assets/knowit/fonts/BagossCondensed-Thin.woff')
      format('woff');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Bagoss Standard';
  src: local('Bagoss Standard Bold'), local('BagossStandard-Bold'),
    url('https://phun-ky.net/assets/knowit/fonts/BagossStandard-Bold.woff2')
      format('woff2'),
    url('https://phun-ky.net/assets/knowit/fonts/BagossStandard-Bold.woff')
      format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Bagoss Condensed';
  src: local('Bagoss Condensed SemiBold Italic'),
    local('BagossCondensed-SemiBoldItalic'),
    url('https://phun-ky.net/assets/knowit/fonts/BagossCondensed-SemiBoldItalic.woff2')
      format('woff2'),
    url('https://phun-ky.net/assets/knowit/fonts/BagossCondensed-SemiBoldItalic.woff')
      format('woff');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Bagoss Standard';
  src: local('Bagoss Standard Regular'), local('BagossStandard-Regular'),
    url('https://phun-ky.net/assets/knowit/fonts/BagossStandard-Regular.woff2')
      format('woff2'),
    url('https://phun-ky.net/assets/knowit/fonts/BagossStandard-Regular.woff')
      format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Bagoss Condensed';
  src: local('Bagoss Condensed Medium Italic'),
    local('BagossCondensed-MediumItalic'),
    url('https://phun-ky.net/assets/knowit/fonts/BagossCondensed-MediumItalic.woff2')
      format('woff2'),
    url('https://phun-ky.net/assets/knowit/fonts/BagossCondensed-MediumItalic.woff')
      format('woff');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Bagoss Condensed';
  src: local('Bagoss Condensed Bold Italic'),
    local('BagossCondensed-BoldItalic'),
    url('https://phun-ky.net/assets/knowit/fonts/BagossCondensed-BoldItalic.woff2')
      format('woff2'),
    url('https://phun-ky.net/assets/knowit/fonts/BagossCondensed-BoldItalic.woff')
      format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Bagoss Standard';
  src: local('Bagoss Standard Thin'), local('BagossStandard-Thin'),
    url('https://phun-ky.net/assets/knowit/fonts/BagossStandard-Thin.woff2')
      format('woff2'),
    url('https://phun-ky.net/assets/knowit/fonts/BagossStandard-Thin.woff')
      format('woff');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Bagoss Standard';
  src: local('Bagoss Standard Medium Italic'),
    local('BagossStandard-MediumItalic'),
    url('https://phun-ky.net/assets/knowit/fonts/BagossStandard-MediumItalic.woff2')
      format('woff2'),
    url('https://phun-ky.net/assets/knowit/fonts/BagossStandard-MediumItalic.woff')
      format('woff');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Bagoss Standard';
  src: local('Bagoss Standard Thin Italic'), local('BagossStandard-ThinItalic'),
    url('https://phun-ky.net/assets/knowit/fonts/BagossStandard-ThinItalic.woff2')
      format('woff2'),
    url('https://phun-ky.net/assets/knowit/fonts/BagossStandard-ThinItalic.woff')
      format('woff');
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Bagoss Standard';
  src: local('Bagoss Standard SemiBold'), local('BagossStandard-SemiBold'),
    url('https://phun-ky.net/assets/knowit/fonts/BagossStandard-SemiBold.woff2')
      format('woff2'),
    url('https://phun-ky.net/assets/knowit/fonts/BagossStandard-SemiBold.woff')
      format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Bagoss Standard';
  src: local('Bagoss Standard SemiBold Italic'),
    local('BagossStandard-SemiBoldItalic'),
    url('https://phun-ky.net/assets/knowit/fonts/BagossStandard-SemiBoldItalic.woff2')
      format('woff2'),
    url('https://phun-ky.net/assets/knowit/fonts/BagossStandard-SemiBoldItalic.woff')
      format('woff');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Bagoss Condensed';
  src: local('Bagoss Condensed Light'), local('BagossCondensed-Light'),
    url('https://phun-ky.net/assets/knowit/fonts/BagossCondensed-Light.woff2')
      format('woff2'),
    url('https://phun-ky.net/assets/knowit/fonts/BagossCondensed-Light.woff')
      format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Bagoss Condensed';
  src: local('Bagoss Condensed Regular Italic'),
    local('BagossCondensed-RegularItalic'),
    url('https://phun-ky.net/assets/knowit/fonts/BagossCondensed-RegularItalic.woff2')
      format('woff2'),
    url('https://phun-ky.net/assets/knowit/fonts/BagossCondensed-RegularItalic.woff')
      format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Bagoss Standard';
  src: local('Bagoss Standard Light'), local('BagossStandard-Light'),
    url('https://phun-ky.net/assets/knowit/fonts/BagossStandard-Light.woff2')
      format('woff2'),
    url('https://phun-ky.net/assets/knowit/fonts/BagossStandard-Light.woff')
      format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Bagoss Standard';
  src: local('Bagoss Standard Medium'), local('BagossStandard-Medium'),
    url('https://phun-ky.net/assets/knowit/fonts/BagossStandard-Medium.woff2')
      format('woff2'),
    url('https://phun-ky.net/assets/knowit/fonts/BagossStandard-Medium.woff')
      format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Bagoss Standard';
  src: local('Bagoss Standard Light Italic'),
    local('BagossStandard-LightItalic'),
    url('https://phun-ky.net/assets/knowit/fonts/BagossStandard-LightItalic.woff2')
      format('woff2'),
    url('https://phun-ky.net/assets/knowit/fonts/BagossStandard-LightItalic.woff')
      format('woff');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Bagoss Standard';
  src: local('Bagoss Standard Regular Italic'),
    local('BagossStandard-RegularItalic'),
    url('https://phun-ky.net/assets/knowit/fonts/BagossStandard-RegularItalic.woff2')
      format('woff2'),
    url('https://phun-ky.net/assets/knowit/fonts/BagossStandard-RegularItalic.woff')
      format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Bagoss Extended';
  src: local('Bagoss Extended Bold'), local('BagossExtended-Bold'),
    url('https://phun-ky.net/assets/knowit/fonts/BagossExtended-Bold.woff2')
      format('woff2'),
    url('https://phun-ky.net/assets/knowit/fonts/BagossExtended-Bold.woff')
      format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Bagoss Standard';
  src: local('Bagoss Standard Bold Italic'), local('BagossStandard-BoldItalic'),
    url('https://phun-ky.net/assets/knowit/fonts/BagossStandard-BoldItalic.woff2')
      format('woff2'),
    url('https://phun-ky.net/assets/knowit/fonts/BagossStandard-BoldItalic.woff')
      format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
