.ph.hero {
  padding: 112px 64px 64px 64px;
  width: 100%;
  margin-top: -64px;
  background-image: radial-gradient(
    circle,
    var(--ph-background-radial-1) 0,
    var(--ph-background-radial-2) 100%
  );
}

@media (min-width: 640px) {
  .ph.hero {
    padding: 144px 64px 64px 64px;
  }
}

.ph.hero .ph.container {
  display: flex;
  flex-direction: column;
  max-width: 1152px;
}

@media (min-width: 640px) {
  .ph.hero .ph.container {
    display: flex;
    /* flex-direction: row; */
    max-width: 1152px;
  }
}

.ph.hero h1.ph {
  margin-bottom: 2.5rem;
  font-size: 3rem;
  line-height: 1.375;
  padding-top: 144px;
  margin-top: -64px;
  display: flex;
  flex-direction: column;
  color: var(--ph-color-text-accent);
  margin-bottom: 0;

  & .ph.name {
    color: var(--ph-color-link);
  }
}

.ph.hero h1.ph {
  & .ph.name,
  & .ph.text {
    font-size: clamp(3rem, calc(1.5rem + 7.5vw), 4.5rem);
    line-height: 3.75rem;
  }
}

@media (min-width: 640px) {
  .ph.hero h1.ph {
    & .ph.name,
    & .ph.text {
      font-size: clamp(4.5rem, calc(3rem + 3.75vw), 5.25rem);
      line-height: 5.25rem;
    }
  }
}

@media (min-width: 960px) {
  .ph.hero h1.ph {
    & .ph.name,
    & .ph.text {
      font-size: 5.25rem;
      line-height: 6rem;
    }
  }
}

.ph.hero p.ph.tagline {
  color: var(--ph-color-text);
  font-size: 24px;
  font-weight: 500;
  line-height: 36px;
  padding-top: 12px;
  margin: 0;
  max-width: 47ch;
}

main.ph .ph.container {
  max-width: none;
  width: 100%;
  transform: translate3d(0, 0, 0);
}

.ph.project-list {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  list-style: none;
  width: 100%;
  gap: 3rem;
  margin: 0;
  overflow-y: hidden;
  overflow-x: auto;
  padding: 3rem;
}

.ph.project-image-container {
  position: relative;
  margin-left: auto;
  height: 100%;
  display: block;
  overflow: hidden;
}

.ph.project-image {
  display: block;
  height: 100%;
  max-width: 100%;
  object-fit: cover;
}

.ph.project-card-item {
  aspect-ratio: 4/3;
  width: 786px;
  flex-shrink: 0;
  transform: translate3d(0, 0, 0);
}

.ph.project-card-item a {
  display: grid;
  grid-template-columns: 50% 50%;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.27);
  justify-content: flex-start;
  align-items: flex-start;
  height: 100%;
  text-decoration: none;
  backdrop-filter: blur(46px);
  max-width: 768px;
  color: var(--ph-color-text-accent-invert);
  overflow: hidden;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.2), 0 15px 12px rgba(0, 0, 0, 0.12);
  transform: translate3d(0, 0, 0);

  & .ph.content {
    gap: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 1.5rem;
  }

  & .ph.name {
    color: var(--ph-brand-color-invert);
    display: block;
    font-size: 1.25rem;
    line-height: 1.75rem;
  }
  & .ph.text {
    color: var(--ph-color-text-accent-invert);
    display: block;
    font-size: 1.25rem;
    line-height: 1.75rem;
  }

  & .ph.tagline {
    color: var(--ph-color-text-accent-invert);
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 1.5;
    margin: 0;
  }
}

.ph.project-card-item a::before {
  content: '';
  transform: translate3d(0, 0, 0);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 1px;
  background: linear-gradient(
    90deg,
    transparent,
    rgba(255, 255, 255, 0.8),
    transparent
  );
}

.ph.project-card-item a::after {
  transform: translate3d(0, 0, 0);
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 1px;
  height: 100%;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.8),
    transparent,
    rgba(255, 255, 255, 0.3)
  );
}

.ph.projects-window {
  transform: translate3d(0, 0, 0);
  background-color: rgb(249, 194, 205);
  background-image: radial-gradient(
      at 12% 7%,
      rgb(255, 255, 255) 0px,
      rgba(0, 0, 0, 0) 50%
    ),
    radial-gradient(at 22% 80%, rgb(240, 247, 212) 0px, rgba(0, 0, 0, 0) 50%),
    radial-gradient(at 51% 75%, rgb(225, 232, 254) 0px, rgba(0, 0, 0, 0) 50%),
    radial-gradient(at 4% 59%, rgb(230, 213, 246) 0px, rgba(0, 0, 0, 0) 50%),
    radial-gradient(at 86% 79%, rgb(127, 213, 230) 0px, rgba(0, 0, 0, 0) 50%),
    radial-gradient(at 56% 23%, rgb(175, 192, 248) 0px, rgba(0, 0, 0, 0) 50%),
    radial-gradient(at 55% 69%, rgb(165, 160, 243) 0px, rgba(0, 0, 0, 0) 50%);
  margin: 0 -1.25rem;
  padding: 4rem 1.25rem;
}
