<div class="row">
  <div class="col-md-12">
    <div class="page-header post">
      <a name="top" id="top"></a>
      <h1>
        {{ page.title }} {% if page.tagline %}
        <small>{{page.tagline}}</small>{% endif %}
      </h1>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12 meta">
    <div class="date">
      <span>Created: </span>{{ page.date | date_to_long_string }}
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-9">
      <div class="post-content">
      {{ content }}
      </div>
  </div>
  <div class="col-md-3">
    <nav id="toc" class="hidden-print hidden-xs hidden-sm affix"></nav>
  </div>
  
</div>

<div class="row meta-container">
  <div class="col-md-12">
    <hr>
    <div class="meta">
      {% unless page.categories == empty %}
      <div class="category">
        <span>Categorized under: </span> 
        <ul class="tag_box inline">
          <li><i class="icon-folder-open icon-white"></i></li>
          {% assign categories_list = page.categories %}
          {% include JB/categories_list %}
        </ul>
      </div>
      {% endunless %} 

      {% unless page.tags == empty %}
      <div class="tags">
        <span>Tagged with: </span>
        <ul class="tag_box inline">
          <li><i class="icon-tags icon-white"></i></li>
          {% assign tags_list = page.tags %}
          {% include JB/tags_list %}
        </ul>
      </div>
      {% endunless %}  
    </div>
    <div class="pagination">
      <ul>
      {% if page.previous %}
        <li class="prev"><a href="{{ BASE_PATH }}{{ page.previous.url }}" title="{{ page.previous.title }}">&larr; Previous</a></li>
      {% else %}
        <li class="prev disabled"><a>&larr; Previous</a></li>
      {% endif %}
        <li><a href="{{ BASE_PATH }}{{ site.JB.archive_path }}">Archive</a></li>
      {% if page.next %}
        <li class="next"><a href="{{ BASE_PATH }}{{ page.next.url }}" title="{{ page.next.title }}">Next &rarr;</a></li>
      {% else %}
        <li class="next disabled"><a>Next &rarr;</a>
      {% endif %}
      </ul>
    </div>
    <hr>    
  </div>
</div>

<div class="row">
  <div class="col-md-12">    
    <div class="about_the_author well clearfix">
      <h3>About the author</h3>
      <img width="220" height="220" src="https://secure.gravatar.com/avatar/e4885fa3c6db55194cb2eb9e81dac456?s=220" class="avatar" alt="Image of the author" title="phun-ky"/>
      <p>
        Hi! My name is Alexander, and I write about open source, frontend development, technological stuff and everything in between.
      </p>
      <p>
        If you want to know more about me, here is some links you might want to check out: <a href="https://github.com/phun-ky">GitHub</a>, <a href="https://twitter.com/phun_ky">Twitter</a>, <a href="https://nb-no.facebook.com/phunky.net">Facebook</a>, <a href="http://no.linkedin.com/in/alexanderroyne">LinkedIn</a>, <a href="http://codepen.io/phun-ky/">CodePen</a>, <a href="https://plus.google.com/109212745239771225705/posts">Google +</a>, <a href="http://osrc.dfm.io/phun-ky">My open source report card</a>, <a href="https://www.vizify.com/alexander-vassbotn-ryne-helgesen/">Vizify</a>, <a href="https://geekli.st/ph001">Geeklist</a>, <a href="https://launchpad.net/~alexander-phun-ky">Launchpad</a>, <a href="http://slid.es/phun_ky/">Slid.es</a>, <a href="https://www.npmjs.org/~phun-ky">npm</a>, <a href="http://www.flickr.com/photos/phun-ky/">Flickr</a>
      </p>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">    
    {% include JB/comments %}
  </div>
</div>
<script type="text/javascript">

  var ul = $('<ul class="nav">');
  for(var i = 2; i < 6; i++){
    var hs = $('.post-content h' + i);
    if(hs.length){
      ul[0].childHeaders = hs
      ul[0].childHeaderLevel = i;
      break;
    }
  }

  var rootUl = ul;
  //main loop
  while(ul.length){    
    var nextUl = $();
    //loop through each ul
    ul.each(function(){
       var innerUl = this;
       var n = this.childHeaderLevel;
       //turn each childHeader into the corresponding ul
       innerUl.childHeaders.each(function(i,elem){
          var childUl = $('<ul class="nav">').append('<li><a href="#'+$(elem).attr('id')+'">' + $(elem).text() + '</a></li>')
                                 .appendTo(innerUl);
          childUl[0].childHeaders = $(this).nextUntil('h' + n)
                                           .filter('h' + (n+1));
          childUl[0].childHeaderLevel = n + 1;            
          nextUl = nextUl.add(childUl);
       });                            
    });
    ul = nextUl;   
  }



  $('#toc').append(rootUl).append($('<a href="#top">Back to top</a>'));

  $('#toc').affix({
    offset : {
      top: function(){
        return (this.top = $('.post-content').offset().top);
      },
      bottom: function () {

        console.log($(document).height() - $('.meta-container').offset().top);
        return (this.bottom = ($(document).height() - $('.meta-container').offset().top) + 400 );
      }
    }
  });

  $('body').scrollspy({ target: '#toc' , offset : 400})


</script>
