<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="page-header post">
        <a id="top"></a>
        <h1>
          {{ page.title }} {% if page.tagline %}
          <small>{{page.tagline}}</small>{% endif %}
        </h1>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 meta">
      <div class="date">
        <span>Created: </span>{{ page.date | date_to_long_string }}
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-9">
        <div class="post-content">
        {{ content }}
        </div>
    </div>
    <div class="col-md-3">
      <nav id="toc" class="hidden-print hidden-xs hidden-sm affix"></nav>
    </div>

  </div>

  <div class="row meta-container">
    <div class="col-md-12">
      <hr>
      <div class="meta">
        {% unless page.categories == empty %}
        <div class="category">
          <span>Categorized under: </span>
          <ul class="tag_box inline">
            <li><i class="icon-folder-open icon-white"></i></li>
            {% assign categories_list = page.categories %}
            {% include JB/categories_list %}
          </ul>
        </div>
        {% endunless %}

        {% unless page.tags == empty %}
        <div class="tags">
          <span>Tagged with: </span>
          <ul class="tag_box inline">
            <li><i class="icon-tags icon-white"></i></li>
            {% assign tags_list = page.tags %}
            {% include JB/tags_list %}
          </ul>
        </div>
        {% endunless %}
      </div>
      <div class="pagination">
        <ul>
        {% if page.previous %}
          <li class="prev"><a href="{{ BASE_PATH }}{{ page.previous.url }}" title="{{ page.previous.title }}">&larr; Previous</a></li>
        {% else %}
          <li class="prev disabled"><a>&larr; Previous</a></li>
        {% endif %}
          <li><a href="{{ BASE_PATH }}{{ site.JB.archive_path }}">Archive</a></li>
        {% if page.next %}
          <li class="next"><a href="{{ BASE_PATH }}{{ page.next.url }}" title="{{ page.next.title }}">Next &rarr;</a></li>
        {% else %}
          <li class="next disabled"><a>Next &rarr;</a>
        {% endif %}
        </ul>
      </div>
    </div>
  </div>
</div>
<section class="container-fluid ph-color-white">
  <div class="container">
    <div class="row">
      <div class="col-md-12 padding-top-large">
        {% include JB/comments %}
      </div>
    </div>
  </div>
</section>
<script type="text/javascript">
  $('#toc').empty();
  var link_item = function(heading){

    return  $('<a/>',{
              href : '#' + heading.attr('id')
            })
              .text(heading.text());

  };

  var list_item = function(heading){

    var li        =   $('<li/>')
                        .append(link_item(heading));

    var tagName   = heading.prop('tagName');
    var level     = parseInt(tagName.replace('H',''),10);


    var children  = heading.nextUntil(tagName).filter('h' + (level + 1));

    console.log(children);

    if(children.length){

      var _ul = $('<ul class="nav"/>');

      children.each(function(i, h){

        var _li = list_item($(h));

        _ul.append(_li);

      });

      li.append(_ul);

    }

    return li;
  };

  var ul = $('<ul class="nav"/>');

  $('.post-content').find('h2').each(function(i, heading){

    var li = list_item($(heading));

    ul.append(li);
  });

  $('#toc').append(ul).append($('<a href="#top">Back to top</a>'));

  $('#toc').affix({
    offset : {
      top: function(){
        return (this.top = $('.post-content').offset().top);
      },
      bottom: function () {

        return (this.bottom = ($(document).height() - $('.meta-container').offset().top) + 600 );
      }
    }
  });

  $('body').scrollspy({ target: '#toc' , offset : 400})

  $(window).on('resize', function(){

    $('#toc').affix('checkPosition');
    $('body').scrollspy('refresh');

  });

    // } catch(ex){}


</script>
