.font-sans{
    font-family:  'Actor', sans-serif;
}

.font-serif{
    font-family:  'Droid Serif', sans-serif;
}

.ph-color-white{
    background-color: @color-white;
}

.padding-top-large{
    padding-top:40px;
}

.padding-bottom-large{
    padding-bottom: 40px;
}